@use "sass:map";

.button-close {
  @extend %button;

  align-items: center;
  display: flex;
  justify-content: center;

  .line1 {
    background-color: map.get($icon-colors, "regular");
    border-radius: 4px;
    height: 3px;
    position: relative;
    transform: rotate(45deg);
    width: 25px;
    z-index: 1;
  }

  .line2 {
    background-color: map.get($icon-colors, "regular");
    border-radius: 4px;
    height: 3px;
    position: absolute;
    transform: rotate(90deg);
    width: 25px;
    z-index: 2;
  }

  &:hover {
    .line1,
    .line2 {
      background-color: map.get($icon-colors, "light");
    }
  }
}
