.button-next-row {
  @extend %button-row;
}

.button-next {
  @extend %button;

  margin: 0 15px;
  position: absolute;
  right: 0.15rem;

  @media (width >= $breakpoint-md) {
    position: static;
  }

  .line1 {
    border-radius: 100px;
    border: 2px solid transparent;
    box-sizing: border-box;
    display: block;
    height: 22px;
    position: relative;
    width: 22px;
  }

  .line2 {
    border-bottom: 3px solid;
    border-right: 3px solid;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    right: 4px;
    top: 2px;
    transform: rotate(-45deg);
    width: 14px;
  }
}
