@use "sass:map";

.btn-close {
  @extend %btn-1;

  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-size: $close-btn-font-size;
  justify-content: center;
  padding: 15px;

  &:hover {
    color: map.get($icon-colors, "light");
  }

  .line1 {
    background-color: map.get($icon-colors, "regular");
    border-radius: 4px;
    height: 3px;
    position: relative;
    transform: rotate(45deg);
    width: 30px;
    z-index: 1;
  }

  .line2 {
    background-color: map.get($icon-colors, "regular");
    border-radius: 4px;
    height: 3px;
    position: absolute;
    transform: rotate(90deg);
    width: 30px;
    z-index: 2;
  }
}
