.lightbox-overlay-body-row {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  @media (width >= $breakpoint-md) {
    justify-content: space-between;
  }
}
