<div class="image-preview-grid-row">
  <div class="image-preview-grid-col">
    <div class="preview-image-container">
      <img
        alt="{{image1.description}}"
        class="preview-image"
        data-id="{{image1.id}}"
        src="{{image1.previewImageUrl}}"
      />
    </div>
  </div>

  <div class="image-preview-grid-col">
    <div class="preview-image-container">
      <img
        alt="{{image2.description}}"
        class="preview-image"
        data-id="{{image2.id}}"
        src="{{image2.previewImageUrl}}"
      />
    </div>
  </div>

  <div class="image-preview-grid-col">
    <div class="preview-image-container">
      <img
        alt="{{image3.description}}"
        class="preview-image"
        data-id="{{image3.id}}"
        src="{{image3.previewImageUrl}}"
      />
    </div>
  </div>
</div>
