.lightbox-backdrop {
  background-color: $overlay-background;
  height: 100vh;
  left: 0;
  opacity: $overlay-opacity;
  position: fixed;
  top: 0;
  transition: $overlay-transition;
  width: 100vw;
  z-index: 1040;
}
