.lightbox-backdrop {
  align-items: baseline;
  background-color: $backdrop-background;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1040;

  &.visible {
    height: 100vh;
    opacity: $backdrop-opacity;
    transition: $backdrop-transition;
  }

  &.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
