.btn-previous-row {
  @extend %btn-row;
}

.btn-previous {
  @extend %btn-1;

  span {
    &:first-child {
      position: relative;
      right: 8px;
      top: 4px;
      transform: rotate(45deg);
    }

    &:last-child {
      bottom: 8px;
      position: relative;
      right: 8px;
      transform: rotate(-45deg);
    }
  }
}
