<div class="lightbox-overlay-header-row">
  <div class="btn-close">
    ✕
  </div>
</div>

<div class="lightbox-overlay-body-row">
  <div class="lightbox-overlay-body-col-1">
    <div class="btn-previous-row">
      <div class="btn-previous">
        ‹
      </div>
    </div>
  </div>
  <div class="lightbox-overlay-body-col-2">
    <img alt=""
         class="lightbox-overlay-image"
         src=""
    />
  </div>

  <div class="lightbox-overlay-body-col-3">
    <div class="btn-next-row">
      <div class="btn-next">
        ›
      </div>
    </div>
  </div>
</div>

<div class="lightbox-overlay-footer-row">
  <div class="lightbox-overlay-footer-col-1">
    <p class="lightbox-overlay-image-source"></p>
  </div>
  <div class="lightbox-overlay-footer-col-2">
    <p class="lightbox-overlay-image-description"></p>
  </div>
  <div class="lightbox-overlay-footer-col-3">
    <p class="lightbox-overlay-image-number"></p>
  </div>
  <div class="lightbox-overlay-footer-col-4">
  </div>
</div>
