.lightbox-overlay-body-col-1 {
  display: none;
  flex-basis: 10%;
  order: 2;

  @media only screen and (min-width: $breakpoint-md) {
    display: flex;
    flex-basis: 10%;
    order: 1;
  }
}

.lightbox-overlay-body-col-2 {
  flex-basis: 98%;
  order: 1;

  @media only screen and (min-width: $breakpoint-md) {
    flex-basis: 80%;
    order: 2;
  }

  @media only screen and (min-width: $breakpoint-lg) {
    flex-basis: 64%;
    order: 2;
  }

}

.lightbox-overlay-body-col-3 {
  display: none;
  flex-basis: 10%;
  order: 3;

  @media only screen and (min-width: $breakpoint-md) {
    display: flex;
    flex-basis: 10%;
  }
}
