body {
  background-color: $gallery;
  font-family: $font-family-primary;
  margin: 0;
}

h1 {
  color: $trout;
  font-family: $font-family-secondary;
  letter-spacing: .1rem;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.row {
  display: flex;
}
