@import 'extends';
@import 'colors';
@import 'variables';

footer {
  @extend .grid;
  @extend .align-center;
  @extend .justify-center;
  font-family: $font-family-2;
  font-size: .8rem;
  padding: 10px;
}

.footer-left-col {
  @extend .col-12;
  @extend .col-sm-8;
  color: $badge-font-color;
  text-align: left;
}

.footer-right-col {
  @extend .col-12;
  @extend .col-sm-4;
  color: $badge-font-color;
  text-align: left;
}

.footer-link {
  @include links(
      $main-font-color,
      $main-font-color,
      $ui-color-1,
      $ui-color-1
  );
}

.footer-menu-link {
  color: $main-font-color;
  font-family: $font-family-2;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .02rem;
  line-height: 1.5;
  padding-left: .5rem;
  padding-right: .5rem;
  text-decoration: none;
  transition: color .5s ease-in-out;

  &:hover {
    color: $main-accent-color;
    text-decoration: none;
  }

  &:focus {
    color: $main-accent-color;
    text-decoration: none;
  }
}
