.lightbox-overlay-footer-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media only screen and (min-width: $breakpoint-md) {
    justify-content: space-between;
  }
}

