@use "sass:map";

.lightbox-overlay-image-counter {
  color: map.get($text-colors, "dark");
  font-size: $counter-font-size;
  font-weight: bold;
  text-align: center;

  @media only screen and (min-width: $breakpoint-md) {
    font-size: $counter-font-size-desktop;
  }

  .first-digit {
    @extend %text-1;

    border-bottom: 2px solid map.get($descriptive-colors, "oslo-gray");
    color: map.get($text-colors, "regular");
    font-size: $counter-font-size-lg;
    font-weight: 700;
  }
}
