.lightbox-overlay-image-source {
  @extend %text-1;

  color: $oslo-gray;
  font-size: $source-font-size;
  text-align: center;

  @media only screen and (min-width: $breakpoint-md) {
    font-size: $source-font-size-desktop;
  }
}
