.preview-image-overlay-description {
  color: $white;
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding: 4px 15px;

  @media only screen and (min-width: $breakpoint-sm) {
    flex-basis: unset;
  }
}
