@use "sass:color";

// Black
$black: #000;
$black-06: rgb(0 0 0 / 60%);

// White
$white: #fff;

// Gray
$alto: #babab5;
$trout: #4e565f;
$oslo-gray: #828a92;

// Icons
$icon-color: color.adjust($alto, $lightness: 10%);
