
$black: #000;
$black-06: rgba(0, 0, 0, .6);
$black-08: rgba(0, 0, 0, .8);
$black-09: rgba(0, 0, 0, .9);

$white: #fff;
$alto: #babab5;
$icon-color: darken($alto, 10%);
$icon-color-hover: $white;

$main-font-color: #4e565f;
$trout: #4e565f;
$alabaster: #f8f8f8;
$athens-gray: #e9ecef;
$badge-font-color: #4e565f;
$grey-color-3: #aaaaaf;
$oslo-gray: #828a92;

$main-accent-color: #3090f7;
$ui-color-1: #2f8fe9;


$chathams-blue: #153b6a;
