$font-path: 'assets/fonts';

@font-face {
  font-family: 'Roboto-light';
  font-display: swap;
  src: url('#{$font-path}/Roboto/Roboto-Light.ttf') format('Truetype');
}

@font-face {
  font-family: 'Roboto-regular';
  font-display: swap;
  src: url('#{$font-path}/Roboto/Roboto-Regular.ttf') format('Truetype');
}

@font-face {
  font-family: 'Roboto-medium';
  font-display: swap;
  src: url('#{$font-path}/Roboto/Roboto-Medium.ttf') format('Truetype');
}

@font-face {
  font-family: 'Roboto-bold';
  font-display: swap;
  src: url('#{$font-path}/Roboto/Roboto-Bold.ttf') format('Truetype');
}

@font-face {
  font-family: 'Roboto-italic';
  font-display: auto;
  src: url('#{$font-path}/Roboto/Roboto-Italic.ttf') format('Truetype');
}

@font-face {
  font-family: 'RobotoSlab-regular';
  font-display: swap;
  src: url('#{$font-path}/Roboto/RobotoSlab-Regular.ttf') format('Truetype');
}

@font-face {
  font-family: 'RobotoSlab-bold';
  font-display: swap;
  src: url('#{$font-path}/Roboto/RobotoSlab-Bold.ttf') format('Truetype');
}
