$fontPath: "../assets/fonts";

@font-face {
  font-family: Roboto-regular;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: RobotoSlab-regular;
  font-display: swap;
  src: url("../assets/fonts/RobotoSlab-Regular.ttf") format("Truetype");
}
