$font-family-1: Roboto-regular, Arial, Verdana, sans-serif;
$font-family-2: RobotoSlab-regular, serif;

// backdrop
$backdrop-opacity: 0.9;
$backdrop-background: $black;
$backdrop-transition: opacity 0.5s linear;

// overlay
$overlay-background: $black;
$overlay-opacity: 0.9;
$overlay-transition: opacity 0.6s;
$navigation-color: $icon-color;
$caption-color: $icon-color;

// text
$counter-font-size: 10px;
$source-font-size: 10px;
$description-font-size: 16px;

// buttons
$close-btn-font-size: 30px;

// next, previous arrows
$arrow-btn-font-size: 48px;
