@use "sass:color";
@use "sass:map";

$descriptive-colors: (
  "black": #000,
  "black-06": rgb(0 0 0 / 60%),
  "white": #fff,
  "alto": #babab5,
  "trout": #4e565f,
  "oslo-gray": #828a92,
  "quill-gray": #d3d3cf
);

// Icons
$icon-colors: (
  "regular": map.get($descriptive-colors, "quill-gray"),
  "light": map.get($descriptive-colors, "white")
);

// Text
$text-colors: (
  "regular": map.get($descriptive-colors, "quill-gray"),
  "dark": map.get($descriptive-colors, "oslo-gray"),
  "link": color.adjust(map.get($descriptive-colors, "trout"), $lightness: -12%)
);

// Code
$code-colors: (
  "background":
    color.adjust(map.get($descriptive-colors, "alto"), $lightness: 8%),
  "text": map.get($descriptive-colors, "trout")
);

// Fonts
$font-family: (
  "code": (
    consolas,
    "courier new",
    monospace
  )
);
