// Fonts
$font-family-1: roboto-regular, arial, verdana, sans-serif;
$font-family-2: robotoslab-regular, serif;
 
// Backdrop
$backdrop-opacity: 0.9;
$backdrop-background: $black;
$backdrop-transition: opacity 0.5s linear;

// Overlay
$overlay-background: $black;
$overlay-opacity: 0.9;
$overlay-transition: opacity 0.6s;
$navigation-color: $icon-color;
$caption-color: $icon-color;

// Counter
$counter-font-size-lg: 16px;
$counter-font-size: 12px;
$counter-font-size-desktop: 14px;

// Source
$source-font-size: 8px;
$source-font-size-desktop: 10px;

// Description
$description-font-size: 12px;
$description-font-size-desktop: 16px;

// Buttons
$close-btn-font-size: 30px;

// Next and previous arrows
$arrow-btn-font-size: 48px;
